@font-face {
    font-family: Averta;
    src: url(../fonts/averta-regular.otf);
}

/* ---------------
reset CSS - start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------
reset CSS - end */

body, button {
  font-family: Averta, sans-serif;
  font-size: 20px;
  color: #4a4a4a;
    background-color: #eee;
    background: url(../images/body-bg-left.jpg) left bottom no-repeat;

}

h2 {
    font-size: 50px;
}

.container {

}

/* -- Start page --  */
.start {
  position: fixed;
 /* transform: 1s ease-out; */
}

.background {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: url(../images/start-bg.png) center no-repeat;
    background-size: cover;
}

#logo-front {
    width: 25%;
    margin-left: 40px;
    margin-top: 40px;
}

.overlay {
    top: 0;
    right:0;
    float: right;
    width: 62%;
    height: 100%;
    background-color: rgba(145, 200, 170,0.5);
}

.start-button-area {
    font-size: 20px;
    text-align: center;
    position: fixed;
    width: 20%;
    top: 60%;
    left: 40%;
}

.start-button-area p {
    font-style: italic;
    font-size: 16px;
}

.start-button {
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 4px;
    border-color: #4a4a4a;
    margin-bottom: 10px;
}

/* -- Top menu --  */

.top-bar {
    padding: 5px 20px;
    vertical-align: bottom;
    background-color: #eeeeee;
    box-shadow: 0px 0px 2px 2px #aaaaaa;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 15;
    height: 40px;
}

.top-bar img {
    height: 30px;
}

.top-menu {
    float: right;
    border-bottom: 1px;
    border-color: #4a4a4a;
    color: #91C8AA;
    vertical-align: bottom;

}

.top-menu a {
    color: #91C8AA;
    vertical-align: bottom;
}

.top-menu ul {
    vertical-align: bottom;
    margin-top: 20px;

}

.top-menu li {

    display: inline;
    vertical-align: text-bottom;
    margin: 25px;
    font-size: 25px;
}

/* -- Navigation menu --  */
.navigation {
    background: url("../images/nav-bg-new.jpg") no-repeat center top;
    min-height: 200px;
    position: relative;
    margin-top: 40px;
    margin-bottom: -90px;
}

/* -- Section  test--  */
.section-header2 {
    position: absolute;
    top: 50px;
    left: 60%;
    z-index: 10;
}

.section-img2 img {
    height: 400px;
    width: 250px;
    margin: 0;
    padding: 0;
}

.section-img2 li {
    display: inline;
}

.section-img3 {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px black;
}

@media (max-width: 1200px) {
    .section-img-3 {
        z-index: 1;
    }
}

.section-img-3 img {
    margin-left: -140px;
}

.section-title-3 {
    position: absolute;
    padding: 5px;
    bottom: 24%;
    left: 2em;
    border: 0px solid #fff;
    border-radius: 4px;
    font-size: 65px;
    text-transform: uppercase;
    color: #fff;
    width: 180px;
    text-align: left;
/ /;
}

@media (max-width: 1200px) {
    .section-title-3 {
        background-color: rgba(50, 50, 50, 0.1);
        left: 0;
        bottom: 0;
        z-index: 10;
    }
}

.img-test-2 {
    float: left;
    width: 50%;
}

.block {
    margin: auto;
    text-align: center;
}

.block li {
    display: inline;
}

.block img {
    width: 250px;
}

/* -- Section --  */
.section {
    margin: 25px 0;
}

.section-img {
    height: 400px;
}

.section-img img {
    width: 500px;
}

.section-header {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

.item-img img {
    opacity: 0.5;
}

.img-test {
    float: left;
    width: 25%;
}

.img-test img {
    width: 100%;
}

.section-title {
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 25em;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    width: 140px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.3);
}

.invert {
    border-color: #4a4a4a;
    color: #4a4a4a;
    background-color: rgba(200, 200, 200, 0.3);
}

/* -- Section items --  */
.items {
    margin-top: 10%;
    height: 320px;
    padding: 10px 20px;
    margin: auto;
}

.line-up img {
    vertical-align: middle;
}

.items img:hover {
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 150ms ease-in;
    transform: scale(1.05);
    cursor: pointer;
}

/*
.line-up p {
    padding-top: -30px;
    color: #fff;
    text-align: right;
    margin-right: 25px;
}
*/
.items p {
    position: absolute;
    padding: 5px;
    left: 23em;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    width: 220px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.3);
    margin-top: -40px;
}

/* -- Footer --  */

.footer {
    position: absolute;
    bottom: 0;
    height: 120px;
    background-color: #4a4a4a;
    color: #eee;
}